/* /Layout/MainLayout.razor.rz.scp.css */
/* /Layout/NavMenu.razor.rz.scp.css */
.nav-bar[b-30til6k6uf]{
    background-color: #1E3A8A;
    color:#fff;
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
   
    
}
.nav-bar h5[b-30til6k6uf]{
   margin-left: 35px;
}
