.login-container {
    height: 300px;
    background-color: #F8FAFC;   
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.login-card {
    width: 360px;
    background-color: #F1F5F9;   
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.login-card1{
    width: 360px;
    background-color: #F1F5F9;   
    padding: 35px;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.login-card1 a{
    cursor: pointer;
    text-decoration: underline;
    color:#1E40AF;
}
.login-card h4 {
    color: #1E3A8A;
    font-weight: 600;
}
.btn{
    margin-top: 20px;
}

.btn-primary {
    background-color: #1E3A8A;
    border: none;
}

.btn-primary:hover {
    background-color: #1E40AF;
}

.btn-outline-primary {
    color: #1E3A8A;
    border-color: #1E3A8A;
}

.btn-outline-primary:hover {
    background-color: #1E3A8A;
    color: #ffffff;
}
html,body{
    height: 100%;
    width: 100%;
    overflow:auto;
    
}